.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
  }
 .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  font-weight: 600;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  button.ant-btn.ant-btn-primary.css-p7e5j5.pure-button.pure-button-primary.submitButton:hover {
    background-color: #e91d26;
}
.inputDiv span.ant-input-affix-wrapper.ant-input-password.css-p7e5j5.css-p7e5j5 {
  background-color: transparent !important;
  border: 1px solid #0D0D0D36 !important;
}
.inputDiv span.ant-input-affix-wrapper.ant-input-password.css-p7e5j5.css-p7e5j5:hover,
 .inputDiv span.ant-input-affix-wrapper.ant-input-password.css-p7e5j5.css-p7e5j5:focus {
  background-color: transparent !important;
  box-sizing: none !important;
  border: 1px solid #0D0D0D36 !important;
}
.inputDiv span.ant-input-affix-wrapper.ant-input-password.css-p7e5j5.css-p7e5j5 input {
  font-size: 14px;
  font-weight: 700;
  color: #112f5c;
}
  .inputDiv .ant-row.ant-form-item-row.css-p7e5j5 .ant-col.ant-form-item-label.css-p7e5j5 {
    min-height: unset !important;
    text-align: start;
}
.inputDiv .ant-row.ant-form-item-row.css-p7e5j5 {
  flex-direction: column;
  flex-flow: column;
}
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 40px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: white;
    background: #E91D26;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 8px 37px;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

#loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}